<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- Google / Search Engine Tags -->
    <title>Test2</title>
    <meta itemprop="name" content="Test2" />
    <meta property="og:title" content="Test2" />
    <meta name="twitter:title" content="Test2" />

    <meta name="description" content="Test2" />
    <meta name="twitter:description" content="Test2" />
    <meta itemprop="description" content="Test2" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test2</title>
  </head>

  <body id="page-temp-pages-test2">
    <!--- Page Header -->
    <header id="header">
      <h1><a href="/">Test2</a></h1>
      <div class="search" id="search">
        <label for="search-field">
          <input
            type="search"
            v-model="searchTerm"
            @focus="initSearch"
            @blur="show = false"
            id="search-field"
            name="search-field"
          />
        </label>
        <ul
          v-if="posts"
          class="search__results"
          :class="{'search__results--has-values' : filteredPosts.length, 'search__results--visible' : show}"
        >
          <li class="search__result" v-for="post in filteredPosts">
            <a class="search__link" :href="post.route">{{ post.title }}</a>
          </li>
        </ul>
      </div>
    </header>

    <!--- Page Sidebar -->

    <!--- Page Main section-->
    <main id="main" class="content">
      <h1 id="test2">Test2</h1>
    </main>

    <!--- Page Footer Content -->
    <footer id="footer"></footer>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    Vue.config.delimiters = ["${", "}"];
    new Vue({
      el: "#search",
      data: {
        searchTerm: "",
        show: false,
        initialized: false,
        posts: [],
      },
      methods: {
        initSearch() {
          this.show = true;
          if (!this.initialized)
            fetch("/data.json")
              .then((response) => response.json())
              .then((json) => {
                this.initialized = true;
                this.posts = json;
              });
        },
      },
      computed: {
        filteredPosts() {
          if (!this.posts.length || this.searchTerm == "") return [];
          return this.posts.filter((item) =>
            item.data.toLowerCase().includes(this.searchTerm.toLowerCase())
          );
        },
      },
    });
  </script>
</html>
