<nav id="content-nav">
    {{#if prevItem}}
    <a class="content-nav__link content-nav__link--prev" href="{{prevItem.link}}">{{prevItem.name}}</a>
    {{/if}}
    {{#if nextItem}}
    <a class="content-nav__link content-nav__link--next" href="{{nextItem.link}}">{{nextItem.name}}</a>
    {{/if}}
</nav>