<nav id="content-nav">
    {{#if prevItem}}
    <a href="{{prevItem.link}}">{{prevItem.name}}</a>
    {{/if}}
    {{#if nextItem}}
    <a href="{{nextItem.link}}">{{nextItem.name}}</a>
    {{/if}}
</nav>