{{#if enhance.search}}
<div class="search" id="search">
    <label class="search__label" aria-label="Click to Search">
        <input type="search" aria-label="Search" v-model="searchTerm" @focus="initSearch" @blur="show = false"
            id="search-field" name="search-field" />
    </label>
    <ul v-if="posts" class="search__results"
        :class="{'search__results--has-values' : filteredPosts.length, 'search__results--visible' : show}">
        <li class="search__result" v-for="post in filteredPosts">
            <a class="search__link" :href="post.route">\{{ post.title }}</a>
        </li>
    </ul>
</div>
{{/if}}