{{#if search}}
<div class="search" id="search">
    <input type="search" v-model="searchTerm" @focus="initSearch" @blur="show = false" id="search-field" /><label
        for="search-field">Search</label>
    <ul class="search__results" class="{'has-value' : filterPosts.length, 'search__results--visible' : show}">
        <li class="search__result" v-for="post in filteredPosts">
            <h4><a :href="post.route">\{{ post.title }}</a></h4>
        </li>
    </ul>
</div>
{{/if}}