<section class="section section--{{content.name}}">
    <div class="section__container">
        <div class="row {{content.classes}}">
            {{#each content.sections}}
            <div class="column">{{{html}}}</div>
            {{/each}}
        </div>
    </div>
</section>