<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- Google / Search Engine Tags -->
    <title>Navigation</title>
    <meta itemprop="name" content="Navigation" />
    <meta property="og:title" content="Navigation" />
    <meta name="twitter:title" content="Navigation" />

    <meta
      name="description"
      content="Create good looking documentation from your Readme"
    />
    <meta
      name="twitter:description"
      content="Create good looking documentation from your Readme"
    />
    <meta
      itemprop="description"
      content="Create good looking documentation from your Readme"
    />

    <meta name="keywords" content="Documentation,Create,Markdown" />

    <meta name="author" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="img/favicons/manifest.json" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="white" />
    <meta name="application-name" content="dokkie" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="img/favicons/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="img/favicons/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="img/favicons/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="img/favicons/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="img/favicons/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="img/favicons/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="img/favicons/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="img/favicons/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="167x167"
      href="img/favicons/apple-touch-icon-167x167.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/favicons/apple-touch-icon-180x180.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="1024x1024"
      href="img/favicons/apple-touch-icon-1024x1024.png"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="dokkie" />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 640px) and (device-height: 1136px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-640x1136.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 750px) and (device-height: 1334px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-750x1334.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 828px) and (device-height: 1792px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-828x1792.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1125px) and (device-height: 2436px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-1125x2436.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1242px) and (device-height: 2208px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-1242x2208.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1242px) and (device-height: 2688px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-1242x2688.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1536px) and (device-height: 2048px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-1536x2048.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1668px) and (device-height: 2224px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-1668x2224.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1668px) and (device-height: 2388px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-1668x2388.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2048px) and (device-height: 2732px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-2048x2732.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2160px) and (device-height: 1620px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-2160x1620.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1620px) and (device-height: 2160px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-1620x2160.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1136px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-1136x640.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1334px) and (device-height: 750px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-1334x750.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1792px) and (device-height: 828px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-1792x828.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2436px) and (device-height: 1125px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-2436x1125.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2208px) and (device-height: 1242px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-2208x1242.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2688px) and (device-height: 1242px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-2688x1242.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2048px) and (device-height: 1536px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-2048x1536.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2224px) and (device-height: 1668px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-2224x1668.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2388px) and (device-height: 1668px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-2388x1668.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2732px) and (device-height: 2048px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-2732x2048.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="228x228"
      href="img/favicons/coast-228x228.png"
    />
    <link rel="shortcut icon" href="img/favicons/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicons/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="img/favicons/favicon-48x48.png"
    />
    <meta name="msapplication-TileColor" content="white" />
    <meta
      name="msapplication-TileImage"
      content="img/favicons/mstile-144x144.png"
    />
    <meta
      name="msapplication-config"
      content="img/favicons/browserconfig.xml"
    />
    <link
      rel="yandex-tableau-widget"
      href="img/favicons/yandex-browser-manifest.json"
    />
    <title>Navigation</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen and (min-width: 0px)"
      href="/css/style.css"
    />
  </head>

  <body id="page-usage-navigation">
    <!--- Page Header -->
    <header id="header">
      <h1>
        <a href="/"><img src="/img/logo_dokkie-color.svg" alt="Dokkie" /></a>
      </h1>

      <input
        type="checkbox"
        class="nav-trigger__input"
        id="header-nav-trigger"
      />
      <label
        aria-label="Trigger Header navigation"
        class="nav-trigger__label"
        for="header-nav-trigger"
        ><span></span
      ></label>
      <nav class="show-desktop">
        <ul>
          <li>
            <a href="/about/">About</a>
            <ul>
              <li><a href="/about/in-use/">In use</a></li>

              <li><a href="/about/why/">Dokkie</a></li>
            </ul>
          </li>

          <li>
            <a href="/usage/">Usage</a>
            <ul>
              <li><a href="/usage/blog/">Blog</a></li>

              <li><a href="/usage/configuration/">Configuration</a></li>

              <li><a href="/usage/deployment/">Deployment</a></li>

              <li><a href="/usage/favicons/">Favicons</a></li>

              <li><a href="/usage/markdown/">Markdown</a></li>
              <li class="active">
                <a href="/usage/navigation/">Navigation</a>
              </li>

              <li><a href="/usage/pages/">Pages</a></li>

              <li><a href="/usage/templates/">Templates</a></li>
            </ul>
          </li>

          <li>
            <a href="https://blog.dokkie.dev">Blog</a>
          </li>
        </ul>
      </nav>
      <div class="search" id="search">
        <label for="search-field">
          <input
            type="search"
            v-model="searchTerm"
            @focus="initSearch"
            @blur="show = false"
            id="search-field"
            name="search-field"
          />
        </label>
        <ul
          v-if="posts"
          class="search__results"
          :class="{'search__results--has-values' : filteredPosts.length, 'search__results--visible' : show}"
        >
          <li class="search__result" v-for="post in filteredPosts">
            <a class="search__link" :href="post.route">{{ post.title }}</a>
          </li>
        </ul>
      </div>
    </header>

    <!--- Page Sidebar -->
    <aside id="sidebar">
      <nav class="hide-mobile show-desktop">
        <ul>
          <li>
            <a href="/about/">About</a>
            <ul>
              <li>
                <a href="/about/in-use/">In use</a>
              </li>

              <li>
                <a href="/about/why/">Dokkie</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="/usage/">Usage</a>
            <ul>
              <li>
                <a href="/usage/blog/">Blog</a>
              </li>

              <li>
                <a href="/usage/configuration/">Configuration</a>
              </li>

              <li>
                <a href="/usage/deployment/">Deployment</a>
              </li>

              <li>
                <a href="/usage/favicons/">Favicons</a>
              </li>

              <li>
                <a href="/usage/markdown/">Markdown</a>
              </li>
              <li class="active">
                <a href="/usage/navigation/">Navigation</a>
              </li>

              <li>
                <a href="/usage/pages/">Pages</a>
              </li>

              <li>
                <a href="/usage/templates/">Templates</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>

    <!--- Page Main section-->
    <main id="main" class="content">
      <h1 id="navigation">Navigation</h1>
      <p>
        There are multiple ways you can navigate through a website. Dokkie has
        multiple build in navigation options.
      </p>
      <h3 id="navigation-types">Navigation types</h3>
      <p>
        By default you will get a footer navigation and a top navigation. But
        you can also add a sidebar navigation just like you see on this page.
      </p>
      <p><strong>dokkie.config.json</strong></p>
      <pre
        class="language-json"
      ><code class="language-json"><span class="token punctuation">{</span>
	<span class="token property">"showNavigation"</span><span class="token operator">:</span> <span class="token punctuation">[</span><span class="token string">"header"</span><span class="token punctuation">,</span> <span class="token string">"footer"</span><span class="token punctuation">,</span> <span class="token string">"sidebar"</span><span class="token punctuation">]</span>
<span class="token punctuation">}</span>
</code></pre>
      <h3 id="flat-navigation">Flat navigation</h3>
      <p>
        Dokkie creates the navigation, like you structure your files. But if you
        want, you can also make the navigation completely flat.
      </p>
      <p><strong>dokkie.config.json</strong></p>
      <pre
        class="language-json"
      ><code class="language-json"><span class="token punctuation">{</span>
	<span class="token property">"flatNavigation"</span><span class="token operator">:</span> <span class="token boolean">true</span>
<span class="token punctuation">}</span>
</code></pre>
      <h3 id="responsive">Responsive</h3>
      <p>
        Header and Sidebar menu’s will automatically be converted to their
        mobile counterpart when available. All menu’s can be either shown or
        hidden on mobile/desktop.
      </p>
      <p>
        The default setting of showing the header and footer navigation will
        automatically be converted. It is also possible to supply this object
        yourself in order to hide and show certain navigation on certain
        devices.
      </p>
      <pre
        class="language-json"
      ><code class="language-json"><span class="token punctuation">{</span>
	<span class="token string">"showNavigation"</span> <span class="token punctuation">[</span>
		<span class="token punctuation">{</span> name<span class="token operator">:</span> <span class="token string">"header"</span><span class="token punctuation">,</span> mobile<span class="token operator">:</span> <span class="token boolean">true</span><span class="token punctuation">,</span> desktop<span class="token operator">:</span><span class="token boolean">true</span><span class="token punctuation">}</span><span class="token punctuation">,</span>
		<span class="token punctuation">{</span> name<span class="token operator">:</span> <span class="token string">"footer"</span><span class="token punctuation">,</span> mobile<span class="token operator">:</span> <span class="token boolean">true</span><span class="token punctuation">,</span> desktop<span class="token operator">:</span><span class="token boolean">true</span><span class="token punctuation">}</span>
	<span class="token punctuation">]</span>
<span class="token punctuation">}</span>
</code></pre>
      <p>
        For instance the Dokkie documentation has the following setting; The
        header and footer will always be shown, the sidebar will only be shown
        on desktop format.
      </p>
      <pre
        class="language-json"
      ><code class="language-json"><span class="token punctuation">{</span>
	<span class="token string">"showNavigation"</span> <span class="token punctuation">[</span>
		<span class="token string">"header"</span><span class="token punctuation">,</span>
		<span class="token string">"footer"</span><span class="token punctuation">,</span>
		<span class="token punctuation">{</span> name<span class="token operator">:</span> <span class="token string">"sidebar"</span><span class="token punctuation">,</span> mobile<span class="token operator">:</span> <span class="token boolean">false</span><span class="token punctuation">,</span> desktop<span class="token operator">:</span><span class="token boolean">true</span> <span class="token punctuation">}</span>
	<span class="token punctuation">]</span>
<span class="token punctuation">}</span>
</code></pre>
      <h3 id="settings-from-within-the-page.">
        Settings from within the page.
      </h3>
      <p>
        <strong>Change menu in page</strong><br />
        Every page will automatically be placed in the navigation based on where
        the file is placed in the tree. This can be overruled by defining the
        menu in a markdown file;
      </p>
      <p>
        The following file is only shown in the <code>footer</code> menu, not
        like by default in any other menu.
      </p>
      <pre
        class="language-markdown"
      ><code class="language-markdown"><span class="token hr punctuation">---</span>
<span class="token title important">menu: footer
<span class="token punctuation">---</span></span>
</code></pre>
      <p>
        <strong>Change parent in menu</strong><br />
        Every page will automatically be placed in the navigation based on where
        the file is placed in the tree. This can be overruled by defining the
        parent in a markdown file;
      </p>
      <p>
        The following file is placed in the root of your repository but should
        in the menu be placed under <code>usage</code> in the menu;
      </p>
      <pre
        class="language-markdown"
      ><code class="language-markdown"><span class="token hr punctuation">---</span>
<span class="token title important">parent: usage
<span class="token punctuation">---</span></span>
</code></pre>
      <hr />
      <div class="alert alert-warning" role="alert">
        <p>
          <strong>Navigation depth</strong><br />
          For now the navigation won’t go deeper than 2 levels. This means that
          levels deeper than 2, will simply not be shown in the menu. This does
          not mean they don’t exist.
        </p>
      </div>
    </main>

    <!--- Page Footer Content -->
    <footer id="footer">
      <nav class="show-desktop">
        <ul>
          <li>
            <a href="/about/">About</a>
            <ul>
              <li>
                <a href="/license/">License</a>
              </li>

              <li>
                <a href="/about/code_of_conduct/">Code of Conduct</a>
              </li>

              <li>
                <a href="/about/contributors/">Contributors</a>
              </li>

              <li>
                <a href="/about/in-use/">In use</a>
              </li>

              <li>
                <a href="/about/support/">Support</a>
              </li>

              <li>
                <a href="/about/why/">Dokkie</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="/usage/">Usage</a>
            <ul>
              <li>
                <a href="/usage/blog/">Blog</a>
              </li>

              <li>
                <a href="/usage/configuration/">Configuration</a>
              </li>

              <li>
                <a href="/usage/deployment/">Deployment</a>
              </li>

              <li>
                <a href="/usage/favicons/">Favicons</a>
              </li>

              <li>
                <a href="/usage/markdown/">Markdown</a>
              </li>
              <li class="active">
                <a href="/usage/navigation/">Navigation</a>
              </li>

              <li>
                <a href="/usage/pages/">Pages</a>
              </li>

              <li>
                <a href="/usage/templates/">Templates</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="https://blog.dokkie.dev">Blog</a>
          </li>
        </ul>
      </nav>
      <footnote>
        <span>dokkie@0.0.107</span>
        <span>MIT</span>
        <span>&copy; Sil van Diepen</span>
      </footnote>
    </footer>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    Vue.config.delimiters = ["${", "}"];
    new Vue({
      el: "#search",
      data: {
        searchTerm: "",
        show: false,
        initialized: false,
        posts: [],
      },
      methods: {
        initSearch() {
          this.show = true;
          if (!this.initialized)
            fetch("/data.json")
              .then((response) => response.json())
              .then((json) => {
                this.initialized = true;
                this.posts = json;
              });
        },
      },
      computed: {
        filteredPosts() {
          if (!this.posts.length || this.searchTerm == "") return [];
          return this.posts.filter((item) =>
            item.data.toLowerCase().includes(this.searchTerm.toLowerCase())
          );
        },
      },
    });
  </script>
</html>
