<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- Google / Search Engine Tags -->
    <title>Dokkie</title>
    <meta itemprop="name" content="Dokkie" />
    <meta property="og:title" content="Dokkie" />
    <meta name="twitter:title" content="Dokkie" />

    <meta
      name="description"
      content="Create good looking documentation from your Readme"
    />
    <meta
      name="twitter:description"
      content="Create good looking documentation from your Readme"
    />
    <meta
      itemprop="description"
      content="Create good looking documentation from your Readme"
    />

    <meta name="keywords" content="Documentation,Create,Markdown" />

    <meta name="author" content="" />

    <meta name="dokkie:type" content="docs" />
    <meta name="dokkie:template" content="default" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="dokkie:template" content="default" />
    <link rel="manifest" href="/img/favicons/manifest.json" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="white" />
    <meta name="application-name" content="dokkie" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/img/favicons/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/img/favicons/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/img/favicons/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/img/favicons/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/img/favicons/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/img/favicons/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/img/favicons/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/img/favicons/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="167x167"
      href="/img/favicons/apple-touch-icon-167x167.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/favicons/apple-touch-icon-180x180.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="1024x1024"
      href="/img/favicons/apple-touch-icon-1024x1024.png"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="dokkie" />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 640px) and (device-height: 1136px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/img/favicons/apple-touch-startup-image-640x1136.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 750px) and (device-height: 1334px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/img/favicons/apple-touch-startup-image-750x1334.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 828px) and (device-height: 1792px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/img/favicons/apple-touch-startup-image-828x1792.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1125px) and (device-height: 2436px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      href="/img/favicons/apple-touch-startup-image-1125x2436.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1242px) and (device-height: 2208px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      href="/img/favicons/apple-touch-startup-image-1242x2208.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1242px) and (device-height: 2688px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      href="/img/favicons/apple-touch-startup-image-1242x2688.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1536px) and (device-height: 2048px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/img/favicons/apple-touch-startup-image-1536x2048.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1668px) and (device-height: 2224px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/img/favicons/apple-touch-startup-image-1668x2224.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1668px) and (device-height: 2388px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/img/favicons/apple-touch-startup-image-1668x2388.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2048px) and (device-height: 2732px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/img/favicons/apple-touch-startup-image-2048x2732.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2160px) and (device-height: 1620px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/img/favicons/apple-touch-startup-image-2160x1620.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1620px) and (device-height: 2160px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/img/favicons/apple-touch-startup-image-1620x2160.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1136px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/img/favicons/apple-touch-startup-image-1136x640.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1334px) and (device-height: 750px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/img/favicons/apple-touch-startup-image-1334x750.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1792px) and (device-height: 828px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/img/favicons/apple-touch-startup-image-1792x828.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2436px) and (device-height: 1125px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
      href="/img/favicons/apple-touch-startup-image-2436x1125.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2208px) and (device-height: 1242px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
      href="/img/favicons/apple-touch-startup-image-2208x1242.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2688px) and (device-height: 1242px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
      href="/img/favicons/apple-touch-startup-image-2688x1242.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2048px) and (device-height: 1536px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/img/favicons/apple-touch-startup-image-2048x1536.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2224px) and (device-height: 1668px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/img/favicons/apple-touch-startup-image-2224x1668.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2388px) and (device-height: 1668px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/img/favicons/apple-touch-startup-image-2388x1668.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2732px) and (device-height: 2048px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/img/favicons/apple-touch-startup-image-2732x2048.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="228x228"
      href="/img/favicons/coast-228x228.png"
    />
    <link rel="shortcut icon" href="/img/favicons/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicons/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="/img/favicons/favicon-48x48.png"
    />
    <meta name="msapplication-TileColor" content="white" />
    <meta
      name="msapplication-TileImage"
      content="/img/favicons/mstile-144x144.png"
    />
    <meta
      name="msapplication-config"
      content="/img/favicons/browserconfig.xml"
    />
    <link
      rel="yandex-tableau-widget"
      href="/img/favicons/yandex-browser-manifest.json"
    />
    <title>Dokkie</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen and (min-width: 0px)"
      href="/css/style.css"
    />
  </head>

  <body id="page-content-about-why">
    <!--- Page Header -->
    <header id="header">
      <h1><a href="/">dokkie</a></h1>
      <div class="search" id="search">
        <label for="search-field">
          <input
            type="search"
            v-model="searchTerm"
            @focus="initSearch"
            @blur="show = false"
            id="search-field"
            name="search-field"
          />
        </label>
        <ul
          v-if="posts"
          class="search__results"
          :class="{'search__results--has-values' : filteredPosts.length, 'search__results--visible' : show}"
        >
          <li class="search__result" v-for="post in filteredPosts">
            <a class="search__link" :href="post.route">{{ post.title }}</a>
          </li>
        </ul>
      </div>
    </header>

    <!--- Page Sidebar -->

    <!--- Page Main section-->
    <main id="main" class="content">
      <h1 id="why%3F">Why?</h1>
      <p>
        The why is a big question for everything, in the case of Dokkie, like
        many others Dokkie came to the existance because of a frustration. “I
        want to create good looking docs, but I don’t want to write them
        multiple times. I have a pretty good readme, cant we use that for the
        docs?”.
      </p>
      <p>
        Ofcourse you can, and most of the time its actually sufficient to check
        the Readme in a github repository. But making it into a website takes
        another step and usually some code in your repository.
      </p>
      <p>
        Dokkie fixed that. Just using one command and you can deploy your
        documentation right out of your package repository.
      </p>
    </main>

    <!--- Page Footer Content -->
    <footer id="footer">
      <footnote>
        <span>dokkie@0.1.7</span>
        <span>MIT</span>
        <span>&copy; Sil van Diepen</span>
      </footnote>
    </footer>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    Vue.config.delimiters = ["${", "}"];
    new Vue({
      el: "#search",
      data: {
        searchTerm: "",
        show: false,
        initialized: false,
        posts: [],
      },
      methods: {
        initSearch() {
          this.show = true;
          if (!this.initialized)
            fetch("/data.json")
              .then((response) => response.json())
              .then((json) => {
                this.initialized = true;
                this.posts = json;
              });
        },
      },
      computed: {
        filteredPosts() {
          if (!this.posts.length || this.searchTerm == "") return [];
          return this.posts.filter((item) =>
            item.data.toLowerCase().includes(this.searchTerm.toLowerCase())
          );
        },
      },
    });
  </script>
</html>
