<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- Google / Search Engine Tags -->
    <title>Configuration</title>
    <meta itemprop="name" content="Configuration" />
    <meta property="og:title" content="Configuration" />
    <meta name="twitter:title" content="Configuration" />

    <meta
      name="description"
      content="Create good looking documentation from your Readme"
    />
    <meta
      name="twitter:description"
      content="Create good looking documentation from your Readme"
    />
    <meta
      itemprop="description"
      content="Create good looking documentation from your Readme"
    />

    <meta name="keywords" content="Documentation,Create,Markdown" />

    <meta name="author" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="img/favicons/manifest.json" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="white" />
    <meta name="application-name" content="dokkie" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="img/favicons/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="img/favicons/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="img/favicons/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="img/favicons/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="img/favicons/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="img/favicons/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="img/favicons/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="img/favicons/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="167x167"
      href="img/favicons/apple-touch-icon-167x167.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/favicons/apple-touch-icon-180x180.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="1024x1024"
      href="img/favicons/apple-touch-icon-1024x1024.png"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="dokkie" />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 640px) and (device-height: 1136px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-640x1136.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 750px) and (device-height: 1334px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-750x1334.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 828px) and (device-height: 1792px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-828x1792.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1125px) and (device-height: 2436px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-1125x2436.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1242px) and (device-height: 2208px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-1242x2208.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1242px) and (device-height: 2688px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-1242x2688.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1536px) and (device-height: 2048px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-1536x2048.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1668px) and (device-height: 2224px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-1668x2224.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1668px) and (device-height: 2388px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-1668x2388.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2048px) and (device-height: 2732px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-2048x2732.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2160px) and (device-height: 1620px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-2160x1620.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1620px) and (device-height: 2160px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="img/favicons/apple-touch-startup-image-1620x2160.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1136px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-1136x640.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1334px) and (device-height: 750px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-1334x750.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1792px) and (device-height: 828px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-1792x828.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2436px) and (device-height: 1125px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-2436x1125.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2208px) and (device-height: 1242px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-2208x1242.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2688px) and (device-height: 1242px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-2688x1242.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2048px) and (device-height: 1536px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-2048x1536.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2224px) and (device-height: 1668px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-2224x1668.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2388px) and (device-height: 1668px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-2388x1668.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 2732px) and (device-height: 2048px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="img/favicons/apple-touch-startup-image-2732x2048.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="228x228"
      href="img/favicons/coast-228x228.png"
    />
    <link rel="shortcut icon" href="img/favicons/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicons/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="img/favicons/favicon-48x48.png"
    />
    <meta name="msapplication-TileColor" content="white" />
    <meta
      name="msapplication-TileImage"
      content="img/favicons/mstile-144x144.png"
    />
    <meta
      name="msapplication-config"
      content="img/favicons/browserconfig.xml"
    />
    <link
      rel="yandex-tableau-widget"
      href="img/favicons/yandex-browser-manifest.json"
    />
    <title>Configuration</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen and (min-width: 0px)"
      href="/css/style.css"
    />
  </head>

  <body id="page-usage-configuration">
    <!--- Page Header -->
    <header id="header">
      <h1>
        <a href="/"><img src="/img/logo_dokkie-color.svg" alt="Dokkie" /></a>
      </h1>

      <input
        type="checkbox"
        class="nav-trigger__input"
        id="header-nav-trigger"
      />
      <label
        aria-label="Trigger Header navigation"
        class="nav-trigger__label"
        for="header-nav-trigger"
        ><span></span
      ></label>
      <nav class="show-desktop">
        <ul>
          <li>
            <a href="/about/">About</a>
            <ul>
              <li><a href="/about/in-use/">In use</a></li>

              <li><a href="/about/why/">Dokkie</a></li>
            </ul>
          </li>

          <li>
            <a href="/usage/">Usage</a>
            <ul>
              <li><a href="/usage/blog/">Blog</a></li>
              <li class="active">
                <a href="/usage/configuration/">Configuration</a>
              </li>

              <li><a href="/usage/deployment/">Deployment</a></li>

              <li><a href="/usage/favicons/">Favicons</a></li>

              <li><a href="/usage/markdown/">Markdown</a></li>

              <li><a href="/usage/navigation/">Navigation</a></li>

              <li><a href="/usage/pages/">Pages</a></li>

              <li><a href="/usage/templates/">Templates</a></li>
            </ul>
          </li>

          <li>
            <a href="https://blog.dokkie.dev">Blog</a>
          </li>
        </ul>
      </nav>
      <div class="search" id="search">
        <label for="search-field">
          <input
            type="search"
            v-model="searchTerm"
            @focus="initSearch"
            @blur="show = false"
            id="search-field"
            name="search-field"
          />
        </label>
        <ul
          v-if="posts"
          class="search__results"
          :class="{'search__results--has-values' : filteredPosts.length, 'search__results--visible' : show}"
        >
          <li class="search__result" v-for="post in filteredPosts">
            <a class="search__link" :href="post.route">{{ post.title }}</a>
          </li>
        </ul>
      </div>
    </header>

    <!--- Page Sidebar -->
    <aside id="sidebar">
      <nav class="hide-mobile show-desktop">
        <ul>
          <li>
            <a href="/about/">About</a>
            <ul>
              <li>
                <a href="/about/in-use/">In use</a>
              </li>

              <li>
                <a href="/about/why/">Dokkie</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="/usage/">Usage</a>
            <ul>
              <li>
                <a href="/usage/blog/">Blog</a>
              </li>
              <li class="active">
                <a href="/usage/configuration/">Configuration</a>
              </li>

              <li>
                <a href="/usage/deployment/">Deployment</a>
              </li>

              <li>
                <a href="/usage/favicons/">Favicons</a>
              </li>

              <li>
                <a href="/usage/markdown/">Markdown</a>
              </li>

              <li>
                <a href="/usage/navigation/">Navigation</a>
              </li>

              <li>
                <a href="/usage/pages/">Pages</a>
              </li>

              <li>
                <a href="/usage/templates/">Templates</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>

    <!--- Page Main section-->
    <main id="main" class="content">
      <h1 id="configuration">Configuration</h1>
      <p>
        Configuration can be done multiple ways, the easiest way is doing this
        through the API, you can set all navigation just in your build script
        during deployment. But you could also add a
        <code>dokkie.config.json</code> to your repository where you can set all
        configuration, in that case you can just run <code>npx dokkie</code> and
        it will set it all.
      </p>
      <h3 id="settings">Settings</h3>
      <p><strong>Default configuration</strong></p>
      <table>
        <thead>
          <tr>
            <th>argument</th>
            <th>default</th>
            <th>options</th>
            <th>description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>input</code></td>
            <td><code>.</code></td>
            <td>any folder</td>
            <td>Input folder to search for files.</td>
          </tr>
          <tr>
            <td><code>output</code></td>
            <td><code>dokkie</code></td>
            <td>any new folder</td>
            <td>Output folder for pages</td>
          </tr>
          <tr>
            <td><code>layout</code></td>
            <td><code>default</code></td>
            <td>
              <code>default</code>,<code>simple</code>,<code>advanced</code> or
              a custom hbs/html file
            </td>
            <td>Html layout used</td>
          </tr>
          <tr>
            <td><code>theme</code></td>
            <td><code>coat</code></td>
            <td></td>
            <td>
              When a default layout is chosen, you can choose a theme from
              (coat)[<a href="https://coat.guyn.nl">https://coat.guyn.nl</a>]
            </td>
          </tr>
          <tr>
            <td><code>cleanBefore</code></td>
            <td><code>true</code></td>
            <td><code>true</code> / <code>false</code></td>
            <td>Remove the docs folder before creating a new one.</td>
          </tr>
          <tr>
            <td><code>extensions</code></td>
            <td><code>.md</code></td>
            <td><code>.md</code>,<code>.html</code></td>
            <td>
              All file extensions which can be used (supported; .md, .html)
            </td>
          </tr>
          <tr>
            <td><code>exclude</code></td>
            <td><code>node_modules, dist, docs</code></td>
            <td>any folder</td>
            <td>Exclude folders from searching for files.</td>
          </tr>
          <tr>
            <td><code>copy</code></td>
            <td><code>null</code></td>
            <td>any folder</td>
            <td>&quot;Copy a folder into your output.</td>
          </tr>
          <tr>
            <td><code>strip</code></td>
            <td><code>pages</code></td>
            <td>any folder</td>
            <td>
              Remove parts of paths to get files directly in their root. All
              files in <code>pages</code>, will be directly in docs.
            </td>
          </tr>
          <tr>
            <td><code>showNavigation</code></td>
            <td><code>header, footer</code></td>
            <td>
              <code>header</code>, <code>footer</code>,<code>sidebar</code>
            </td>
            <td>Define which navigations should be shown</td>
          </tr>
          <tr>
            <td><code>flatNavigation</code></td>
            <td><code>false</code></td>
            <td><code>true</code> / <code>false</code></td>
            <td>Make the navigation flat.</td>
          </tr>
          <tr>
            <td><code>codeHighlight</code></td>
            <td><code>true</code></td>
            <td><code>true</code> / <code>false</code></td>
            <td>Use Prism to create highlighted code</td>
          </tr>
          <tr>
            <td><code>projectTitle</code></td>
            <td><code>&quot;&quot;</code></td>
            <td></td>
            <td>Title of the documentation</td>
          </tr>
          <tr>
            <td><code>favicon</code></td>
            <td>Custom generated</td>
            <td>path to image</td>
            <td>Create favicons and other meta tags automatically</td>
          </tr>
          <tr>
            <td><code>skip</code></td>
            <td><code>null</code></td>
            <td><code>favicons</code></td>
            <td>
              Skip parts of the build process to speed it up. For now this can
              only be done with Favicons
            </td>
          </tr>
          <tr>
            <td><code>config</code></td>
            <td><code>dokkie.config.json</code></td>
            <td>path to json config file</td>
            <td>Give an alternative path to the config for dokkie</td>
          </tr>
          <tr>
            <td><code>debug</code></td>
            <td><code>false</code></td>
            <td><code>true</code> / <code>false</code></td>
            <td>
              Running Dokkie with Debug on, will give you more details about the
              build process
            </td>
          </tr>
          <tr>
            <td><code>language</code></td>
            <td><code>en</code></td>
            <td>
              Any language shortname, ex; <code>en</code>, <code>nl</code> or
              <code>es</code>
            </td>
            <td>Language of the page, this is set in the templates</td>
          </tr>
        </tbody>
      </table>
      <h3 id="api">API</h3>
      <p>All above settings can be altered using the cli</p>
      <p><strong>example</strong></p>
      <pre
        class="language-bash"
      ><code class="language-bash">npx dokkie --input<span class="token operator">=</span>docs --output<span class="token operator">=</span>dist --cleanbefore<span class="token operator">=</span>false --copy<span class="token operator">=</span>themes --showNavigation<span class="token operator">=</span>header,footer,sidebar
</code></pre>
      <h3 id="settings-files">Settings files</h3>
      <p>
        Dokkie also accepts a settings file in the root of your project (or root
        of where your input is).
      </p>
      <p><strong>example</strong></p>
      <pre
        class="language-json"
      ><code class="language-json"><span class="token punctuation">{</span>
	<span class="token property">"input"</span><span class="token operator">:</span> <span class="token string">"docs"</span><span class="token punctuation">,</span>
	<span class="token property">"output"</span><span class="token operator">:</span> <span class="token string">"dist"</span><span class="token punctuation">,</span>
	<span class="token property">"cleanBefore"</span><span class="token operator">:</span> <span class="token boolean">false</span><span class="token punctuation">,</span>
	<span class="token property">"copy"</span><span class="token operator">:</span> <span class="token punctuation">[</span><span class="token string">"themes"</span><span class="token punctuation">]</span><span class="token punctuation">,</span>
	<span class="token property">"showNavigation"</span><span class="token operator">:</span> <span class="token punctuation">[</span><span class="token string">"header"</span><span class="token punctuation">,</span> <span class="token string">"footer"</span><span class="token punctuation">,</span> <span class="token string">"sidebar"</span><span class="token punctuation">]</span>
<span class="token punctuation">}</span>
</code></pre>
      <h3 id="alternative-layouts">Alternative layouts</h3>
      <p>
        Use the <code>layout</code> option to define which layout you want to
        use. More about (layouts)[/usage/templates].
      </p>
      <h3 id="alternative-styling-and-scripts">
        Alternative styling and scripts
      </h3>
      <p>
        Styles and scripts can be added or overruled in the default layouts.
      </p>
      <h3 id="add">add</h3>
      <p>
        Adding can be done, this will just ad the extra stylesheets or scripts
        besides the current ones.
      </p>
      <p><strong>dokkie.config.json</strong></p>
      <pre
        class="language-json"
      ><code class="language-json"><span class="token punctuation">{</span>
	<span class="token property">"add"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
		<span class="token property">"css"</span><span class="token operator">:</span> <span class="token punctuation">[</span><span class="token string">"/mystylesheet.css"</span><span class="token punctuation">]</span><span class="token punctuation">,</span>
		<span class="token property">"js"</span><span class="token operator">:</span> <span class="token punctuation">[</span><span class="token string">"/my-app.js"</span><span class="token punctuation">]</span>
	<span class="token punctuation">}</span>
<span class="token punctuation">}</span>
</code></pre>
      <h4 id="overrule">overrule</h4>
      <p>
        Overrule means the current stylesheets won’t be added, but instead the
        given stylesheets will be used.
      </p>
      <p><strong>dokkie.config.json</strong></p>
      <pre
        class="language-json"
      ><code class="language-json"><span class="token punctuation">{</span>
	<span class="token property">"overrule"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
		<span class="token property">"css"</span><span class="token operator">:</span> <span class="token punctuation">[</span><span class="token string">"/mystylesheet.css"</span><span class="token punctuation">]</span><span class="token punctuation">,</span>
		<span class="token property">"js"</span><span class="token operator">:</span> <span class="token punctuation">[</span><span class="token string">"/my-app.js"</span><span class="token punctuation">]</span>
	<span class="token punctuation">}</span>
<span class="token punctuation">}</span>
</code></pre>
      <h4 id="custom-config-file">Custom Config file</h4>
      <p>
        You can also define a custom config.json file. But obviously only in the
        command line.
      </p>
      <pre
        class="language-bash"
      ><code class="language-bash">npx dokkie --config<span class="token operator">=</span>my-config-dokkie-file.json
</code></pre>
    </main>

    <!--- Page Footer Content -->
    <footer id="footer">
      <nav class="show-desktop">
        <ul>
          <li>
            <a href="/about/">About</a>
            <ul>
              <li>
                <a href="/license/">License</a>
              </li>

              <li>
                <a href="/about/code_of_conduct/">Code of Conduct</a>
              </li>

              <li>
                <a href="/about/contributors/">Contributors</a>
              </li>

              <li>
                <a href="/about/in-use/">In use</a>
              </li>

              <li>
                <a href="/about/support/">Support</a>
              </li>

              <li>
                <a href="/about/why/">Dokkie</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="/usage/">Usage</a>
            <ul>
              <li>
                <a href="/usage/blog/">Blog</a>
              </li>
              <li class="active">
                <a href="/usage/configuration/">Configuration</a>
              </li>

              <li>
                <a href="/usage/deployment/">Deployment</a>
              </li>

              <li>
                <a href="/usage/favicons/">Favicons</a>
              </li>

              <li>
                <a href="/usage/markdown/">Markdown</a>
              </li>

              <li>
                <a href="/usage/navigation/">Navigation</a>
              </li>

              <li>
                <a href="/usage/pages/">Pages</a>
              </li>

              <li>
                <a href="/usage/templates/">Templates</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="https://blog.dokkie.dev">Blog</a>
          </li>
        </ul>
      </nav>
      <footnote>
        <span>dokkie@0.1.0</span>
        <span>MIT</span>
        <span>&copy; Sil van Diepen</span>
      </footnote>
    </footer>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    Vue.config.delimiters = ["${", "}"];
    new Vue({
      el: "#search",
      data: {
        searchTerm: "",
        show: false,
        initialized: false,
        posts: [],
      },
      methods: {
        initSearch() {
          this.show = true;
          if (!this.initialized)
            fetch("/data.json")
              .then((response) => response.json())
              .then((json) => {
                this.initialized = true;
                this.posts = json;
              });
        },
      },
      computed: {
        filteredPosts() {
          if (!this.posts.length || this.searchTerm == "") return [];
          return this.posts.filter((item) =>
            item.data.toLowerCase().includes(this.searchTerm.toLowerCase())
          );
        },
      },
    });
  </script>
</html>
